<div class="box">
    <mat-card class="container mat-elevation-z10">
        <mat-card-title>
            <span>
                <a>
                    <img class="logo" src="/assets/img/logo.png" alt="logo" urlStatic>
                </a>
            </span>
        </mat-card-title>
        <router-outlet></router-outlet>
    </mat-card>
</div>

<!-- <div class="box">
    <mat-card class="container mat-elevation-z10">
        <mat-card-title>
            <span>
                <a>
                    <img class="logo" src="assets/img/logo.png" alt="logo">
                </a>
            </span>
        </mat-card-title>
        <mat-tab-group>
            <mat-tab label="Login">
                <form>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Login"  name="login">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Senha" name="senha">
                    </mat-form-field>
                </form>
                <button mat-raised-button color="primary">
                    Entrar
                </button>
            </mat-tab>
            <mat-tab label="Create Account">Create Account</mat-tab>
        </mat-tab-group>
    </mat-card>
</div> -->

