<mat-card>
    <mat-card-title>Especialidades</mat-card-title>
    <form>
        <div class="descricao-container">
            <mat-form-field>
                <mat-label>Descrição</mat-label>
                <textarea matInput [(ngModel)]="vr.value" name="desc" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="changeDesc()">
                Salvar descrição
            </button>
        </div>
       
    
        
    </form>
    <mat-card class="mat-elevation-z5">
        <!-- <mat-card-title>Especialidades</mat-card-title> -->
        <div class="container">
            <!-- <app-esp-image [esp]="images[0]"></app-esp-image> -->
            <app-esp-image *ngFor="let i of images" [esp]="i" (close)="onClose(i)"></app-esp-image>
            <!-- <app-esp-image src="I6G0wEk"></app-esp-image>
            <app-esp-image src="jvh1l1Q"></app-esp-image>
            <app-esp-image src="X4mXt2L"></app-esp-image>
            <app-esp-image src="SD0W81M"></app-esp-image> -->
        </div>
    </mat-card>
    <button mat-raised-button color="primary" class="add-esp" (click)="addSpec()">
        <span *ngIf="!loading">
            Adcionar Especialidade
        </span>
        <mat-spinner diameter="30" class="whiteSpinner" *ngIf="loading"></mat-spinner>
    </button>
</mat-card>