.body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 300%;
}

.container-selecao{
    background-color: white;
    min-width: 90%;
    padding-top: 60px;
    z-index: 1;
}


.container-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    /* align-items: center; */
    /* background-color: tomato; */
    margin: 0px auto;
    padding-top: 40px;
    width: 80%;
}
.container-center h1{
    margin-top: 0;
    color: #3b3b3b;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: -0.5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 20px;
}

.container-center p{
    font-size: 15px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    color: #ad9b9b;
    font-family: 'Karla', sans-serif;
}

.image-header{
    background-color: grey;
    width: 80%;
    height: 300px;
    background-image: url(https://i.imgur.com/FFaw3qf.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.login-content{
    margin-top: 20px;
    background-color: #d5d5f3e6;
    width: 200px;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}

/* ===========================================LOGIN */
form {
    display: flex;
    flex-direction: column;
}
button {
    width: 100%;
    margin-top: 20px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    padding:5px;
}
.account{
    display: flex;
    justify-content: flex-end;
}
a{
    text-decoration: none;
}
:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: white;
    width: 1px;
}

@media only screen and (max-width: 1500px) {
    .container-selecao{
        min-width: 100%;
    }
}


@media only screen and (min-width: 1500px) {
    .container-center{
        width: 80%;
    }
}

/* < 700px */
@media only screen and (max-width: 700px) {
    .container-center{
        width: 100%;
    }
    .image-header{
        background-color: grey;
        width: 100%;
    }
}