<div class="light-wrapper">
    <div class="container inner">
      <div class="thin">
        <h3 class="section-title text-center">Minhas especialidades</h3>
        <p class="text-center">Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui.</p>
      </div>

      <!-- /.thin -->
      <div class="divide10"></div>
      <div class="row">

        <main class="main-content">
          <div class="container-fluid photos">
            <div class="row align-items-stretch">
              
  <div class="col-md-3" data-aos="fade-up">
    <div class="caption-overlay">
        <a href="/" class="d-block photo-item">
            <img src="assets/imgs/home/especialidades/s1.jpg" alt="Image" class="img-fluid">
        </a>
        
        <div class="caption bottom-right">
            <div class="title">
                <h3 class="main-title layer">Smash the cake</h3>
            </div>
        </div>
        
    </div>
  </div>

              
  <div class="col-md-3" data-aos="fade-up">
    <div class="caption-overlay">
        <a href="/" class="d-block photo-item">
            <img src="assets/imgs/home/especialidades/s2.jpg" alt="Image" class="img-fluid">
        </a>
        
        <div class="caption bottom-right">
            <div class="title">
                <h3 class="main-title layer">Banho de leite</h3>
            </div>
        </div>
        
    </div>
  </div>

              
  <div class="col-md-3" data-aos="fade-up">
    <div class="caption-overlay">
        <a href="/" class="d-block photo-item">
            <img src="assets/imgs/home/especialidades/s3.jpg" alt="Image" class="img-fluid">
        </a>
        
        <div class="caption bottom-right">
            <div class="title">
                <h3 class="main-title layer">Ensaios comemorativos</h3>
            </div>
        </div>
        
    </div>
  </div>

              
  <div class="col-md-3" data-aos="fade-up">
    <div class="caption-overlay">
        <a href="/" class="d-block photo-item">
            <img src="assets/imgs/home/especialidades/s4.jpg" alt="Image" class="img-fluid">
        </a>
        
        <div class="caption bottom-right">
            <div class="title">
                <h3 class="main-title layer">Ensaios internos</h3>
            </div>
        </div>
        
    </div>
  </div>

            </div>
          </div>
        </main>
        
        
        <!-- /column --> 
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
  </div>