<nav class="navbar solid dark">
    <div class="navbar-header">
      <div class="basic-wrapper"> 
        <div class="navbar-brand">
            <a href="index.html">
                <img src="assets/default/images/logo.png" class="logo-light" alt="" />
            </a> 
        </div>
        <a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
      </div>
      <!-- /.basic-wrapper -->  
    </div>
    <!-- /.navbar-header -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="current"><a href="/">Home</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Headers <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="about2.html">Transparent</a></li>
            <li><a href="index5.html">Light Solid</a></li>
            <li><a href="index6.html">Dark Solid</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Blog <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="blog.html">Grid Blog</a></li>
            <li><a href="blog2.html">Grid Blog with Sidebar</a></li> 
            <li><a href="blog3.html">Magazine</a></li>
            <li><a href="blog4.html">Magazine No Sidebar</a></li>
            <li><a href="blog-post.html">Blog Post</a></li>
            <li><a href="blog-post2.html">Blog Post No Sidebar</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Pages <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="about.html">About 1</a></li>
            <li><a href="about2.html">About 2</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact 1</a></li>
            <li><a href="contact2.html">Contact 2</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Features <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="elements.html">Elements</a></li>
            <li><a href="headings.html">Headings</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="social.html">Social Feeds</a></li>
            <li><a href="disqus.html">Disqus</a></li>
            <li><a href="icon-budicon.html">Budicon Icons</a></li>
            <li><a href="icon-fontello.html">Fontello Icons</a></li>
          </ul>
        </li>
        <li><a href="/selecao">Seleção</a></li>
        <!-- {% if isAuthenticated() %}
          <li><a href="/logout">Sair</a>
        {% endif %} -->
        <!-- </li> -->
      </ul>
      <!-- /.navbar-nav --> 
    </div>
    <!-- /.navbar-collapse -->
    <div class="social-wrapper">
      <ul class="social naked">
        <li><a href="#"><i class="icon-s-facebook"></i></a></li>
        <li><a href="#"><i class="icon-s-twitter"></i></a></li>
        <li><a href="#"><i class="icon-s-flickr"></i></a></li>
        <li><a href="#"><i class="icon-s-instagram"></i></a></li>
      </ul>
      <!-- /.social --> 
    </div>
    <!-- /.social-wrapper --> 
</nav>